:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --text-third: #707070;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --fa-primary: #206AC4;
  --fa-secondary: #206AC4;
  --pkwdblue: #206AC4;
  --transition-speed: 225ms;
  --transition-fadein: 500ms;
  --transition-fadeout: 1s;

  /* primary color */
  --hPrimary: 218;
  --sPrimary: 80%;  /* 80 - 100% saturation */
  --lPrimary: 48%;  /* 40 - 60% brightness */

  /* darkest shade */
  --sPrimary-900: 90%;  /* 90 - 100% saturation */
  --lPrimary-900: 10%;  /* 20 - 30% brightness */

  /* lightest shade */
  --sPrimary-100: 6%;  /* 5 - 10% saturation */
  --lPrimary-100: 94%;  /* 95 - 100% brightness */

  /* calculated dark tones */
  --sPrimary-700: calc((var(--sPrimary) + var(--sPrimary-900)) / 2);
  --lPrimary-700: calc((var(--lPrimary) + var(--lPrimary-900)) / 2);

  --sPrimary-800: calc((var(--sPrimary-700) + var(--sPrimary-900)) / 2);
  --lPrimary-800: calc((var(--lPrimary-700) + var(--lPrimary-900)) / 2);

  --sPrimary-600: calc((var(--sPrimary-700) + var(--sPrimary)) / 2);
  --lPrimary-600: calc((var(--lPrimary-700) + var(--lPrimary)) / 2);

  /* calculated light tones */
  --sPrimary-300: calc((var(--sPrimary) + var(--sPrimary-100)) / 2);
  --lPrimary-300: calc((var(--lPrimary) + var(--lPrimary-100)) / 2);

  --sPrimary-200: calc((var(--sPrimary-300) + var(--sPrimary-100)) / 2);
  --lPrimary-200: calc((var(--lPrimary-300) + var(--lPrimary-100)) / 2);

  --sPrimary-400: calc((var(--sPrimary-300) + var(--sPrimary)) / 2);
  --lPrimary-400: calc((var(--lPrimary-300) + var(--lPrimary)) / 2);



  /* calculated secondary color */
  --hSecondary: calc(var(--hPrimary) - 180);
  --sSecondary: var(--sPrimary);
  --lSecondary: var(--lPrimary);

  --sSecondary-100: var(--sPrimary-100);
  --lSecondary-100: var(--lPrimary-100);
  --sSecondary-900: var(--sPrimary-900);
  --lSecondary-900: var(--lPrimary-900);

  --sSecondary-700: calc((var(--sSecondary) + var(--sSecondary-900)) / 2);
  --lSecondary-700: calc((var(--lSecondary) + var(--lSecondary-900)) / 2);
  --sSecondary-800: calc((var(--sSecondary-700) + var(--sSecondary-900)) / 2);
  --lSecondary-800: calc((var(--lSecondary-700) + var(--lSecondary-900)) / 2);
  --sSecondary-600: calc((var(--sSecondary-700) + var(--sSecondary)) / 2);
  --lSecondary-600: calc((var(--lSecondary-700) + var(--lSecondary)) / 2);

  --sSecondary-300: calc((var(--sSecondary) + var(--sSecondary-100)) / 2);
  --lSecondary-300: calc((var(--lSecondary) + var(--lSecondary-100)) / 2);
  --sSecondary-200: calc((var(--sSecondary-300) + var(--sSecondary-100)) / 2);
  --lSecondary-200: calc((var(--lSecondary-300) + var(--lSecondary-100)) / 2);
  --sSecondary-400: calc((var(--sSecondary-300) + var(--sSecondary)) / 2);
  --lSecondary-400: calc((var(--lSecondary-300) + var(--lSecondary)) / 2);
  

  /* calculated secondary color #1 */
  --hT01-500: calc(var(--hPrimary) - 25);

  /* calculated secondary color #2 */
  --hT03-500: calc(var(--hPrimary) - 45);
}

.colorshades {
  justify-content: space-around;
  margin-top: 1rem;
  padding:2px;
  border:0px solid black;
}

.tonebox {
  width:100px;
  height:100px;
  margin:4px;
}

.cs-primary-100 { background-color:hsl(var(--hPrimary), var(--sPrimary-100), var(--lPrimary-100)); }
.cs-primary-200 { background-color:hsl(var(--hPrimary), var(--sPrimary-200), var(--lPrimary-200)); }
.cs-primary-300 { background-color:hsl(var(--hPrimary), var(--sPrimary-300), var(--lPrimary-300)); }
.cs-primary-400 { background-color:hsl(var(--hPrimary), var(--sPrimary-400), var(--lPrimary-400)); }
.cs-primary-500 { background-color:hsl(var(--hPrimary), var(--sPrimary), var(--lPrimary)); }
.cs-primary-600 { background-color:hsl(var(--hPrimary), var(--sPrimary-600), var(--lPrimary-600)); }
.cs-primary-700 { background-color:hsl(var(--hPrimary), var(--sPrimary-700), var(--lPrimary-700)); }
.cs-primary-800 { background-color:hsl(var(--hPrimary), var(--sPrimary-800), var(--lPrimary-800)); }
.cs-primary-900 { background-color:hsl(var(--hPrimary), var(--sPrimary-900), var(--lPrimary-900)); }

.cs-secondary-100 { background-color:hsl(var(--hSecondary), var(--sSecondary-100), var(--lSecondary-100)); }
.cs-secondary-200 { background-color:hsl(var(--hSecondary), var(--sSecondary-200), var(--lSecondary-200)); }
.cs-secondary-300 { background-color:hsl(var(--hSecondary), var(--sSecondary-300), var(--lSecondary-300)); }
.cs-secondary-400 { background-color:hsl(var(--hSecondary), var(--sSecondary-400), var(--lSecondary-400)); }
.cs-secondary-500 { background-color:hsl(var(--hSecondary), var(--sSecondary), var(--lSecondary)); }
.cs-secondary-600 { background-color:hsl(var(--hSecondary), var(--sSecondary-600), var(--lSecondary-600)); }
.cs-secondary-700 { background-color:hsl(var(--hSecondary), var(--sSecondary-700), var(--lSecondary-700)); }
.cs-secondary-800 { background-color:hsl(var(--hSecondary), var(--sSecondary-800), var(--lSecondary-800)); }
.cs-secondary-900 { background-color:hsl(var(--hSecondary), var(--sSecondary-900), var(--lSecondary-900)); }

.t02-100 { background-color:hsl(var(--hT01-500), var(--sSecondary-100), var(--lSecondary-100)); }
.t02-200 { background-color:hsl(var(--hT01-500), var(--sSecondary-200), var(--lSecondary-200)); }
.t02-300 { background-color:hsl(var(--hT01-500), var(--sSecondary-300), var(--lSecondary-300)); }
.t02-400 { background-color:hsl(var(--hT01-500), var(--sSecondary-400), var(--lSecondary-400)); }
.t02-500 { background-color:hsl(var(--hT01-500), var(--sSecondary), var(--lSecondary)); }
.t02-600 { background-color:hsl(var(--hT01-500), var(--sSecondary-600), var(--lSecondary-600)); }
.t02-700 { background-color:hsl(var(--hT01-500), var(--sSecondary-700), var(--lSecondary-700)); }
.t02-800 { background-color:hsl(var(--hT01-500), var(--sSecondary-800), var(--lSecondary-800)); }
.t02-900 { background-color:hsl(var(--hT01-500), var(--sSecondary-900), var(--lSecondary-900)); }

.t03-100 { background-color:hsl(var(--hT03-500), var(--sSecondary-100), var(--lSecondary-100)); }
.t03-200 { background-color:hsl(var(--hT03-500), var(--sSecondary-200), var(--lSecondary-200)); }
.t03-300 { background-color:hsl(var(--hT03-500), var(--sSecondary-300), var(--lSecondary-300)); }
.t03-400 { background-color:hsl(var(--hT03-500), var(--sSecondary-400), var(--lSecondary-400)); }
.t03-500 { background-color:hsl(var(--hT03-500), var(--sSecondary), var(--lSecondary)); }
.t03-600 { background-color:hsl(var(--hT03-500), var(--sSecondary-600), var(--lSecondary-600)); }
.t03-700 { background-color:hsl(var(--hT03-500), var(--sSecondary-700), var(--lSecondary-700)); }
.t03-800 { background-color:hsl(var(--hT03-500), var(--sSecondary-800), var(--lSecondary-800)); }
.t03-900 { background-color:hsl(var(--hT03-500), var(--sSecondary-900), var(--lSecondary-900)); }


body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #395e8b;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-header {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #dfdfdf;
  text-decoration: none;
  transition: var(--transition-speed);
  filter: grayscale(0%) opacity(1);
}

.nav-link:hover, .nav-header:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-weight: 600;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-header svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: var(--fa-primary);
}

.fa-secondary {
  color: var(--fa-secondary);
}


.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -250px;
  transition: var(--transition-speed);
}

.navbar:hover .logo .fa-secondary {
  transform: scale(0.95) rotate(-90deg);
  transform-box: fill-box;
  transform-origin: 92% 20%;
  transition-duration: var(--transition-fadein);
}
.navbar:hover .logo .fa-primary {
  transform: scale(0.95) rotate(90deg);
  transform-box: fill-box;
  transform-origin: 0% 75%;
  transition-duration: var(--transition-fadein);
}

.navbar:not(:hover) .logo .fa-secondary {
  transform: scale(0.95) rotate(0deg);
  transform-box: fill-box;
  transform-origin: 92% 20%;
  transition-duration: var(--transition-fadeout);
  fill:var(--text-third);
}
.navbar:not(:hover) .logo .fa-primary {
  transform: scale(0.95) rotate(0deg);
  transform-box: fill-box;
  transform-origin: 0% 75%;
  transition-duration: var(--transition-fadeout);
  fill:var(--text-third);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  .nav-header {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 12rem;
    margin-bottom: 5px;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

